<h1>Register</h1>

<%= render 'layouts/errors' %>

<form action="<%= users_url %>" method="post">
	<%= authenticity_token %>
	<p>
		<label for="user_email">Email</label>
		<input type="text" id="user_email" name="user[email]">
	</p>
	<p>
		<label for="user_password">Password</label>
		<input type="password" id="user_password" name="user[password]">
	</p>
	
	<input type="submit" value="Create">
</form>